---
import '~/helpers/styles/index.scss' // according to https://ui.shadcn.com/docs/installation/astro
import BuilderPage from "../components/figma-imports-untested";

---
<h1>Dev!!!</h1>

<BuilderPage client:only="react" />