---
import { startCase } from "lodash-es";
import "@/index.css"; // according to https://ui.shadcn.com/docs/installation/astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import DocPageLayout from "@/layouts/DocPageLayout.astro";
import ComponentPageUsage from "@/components/internal/ComponentPageUsage.tsx";
import ComponentPageHero from "@/components/internal/ComponentPageHero.tsx";
import {
  Heading,
  HeadingSubtitle,
  HeadingTitle,
} from "@/components/ui/Heading/Heading";
import VersatileTabs from "@/components/internal/VersatileTabs";
import { Cta } from "~/src/components/ui/Cta/Cta";
const routeName = Astro.url.pathname.split("/").filter(Boolean).pop();
const anatomy = `
  <Breadcrumb>
    <BreadcrumbItem/>
  </Breadcrumb>
`;

// TBD: DOC: saying using BreadcrumbFinal is optional, cuz there're sites/apps that prefering not showing the final item on the breadcrumb as user is viewing that page (represented as the final item), eg., react.dev
---

<BaseLayout>
  <DocPageLayout>
    <ComponentPageHero
      client:only="react"
      title={startCase(routeName)}
      subtitle="Displays the path to the current resource using a hierarchy of links."
    />

    <br />

    <Heading
      size="h2"
      title="Usage"
      subtitle="How you can play this component."
    />
    <ComponentPageUsage
      demoId="breadcrumb-demo"
      anatomy={anatomy}
      client:only="react"
    />

    <br />
    <br />

    <Heading
      size="h2"
      title="Design Notes"
      subtitle="The implementation details that some would appreciate."
    />

    <p>
      You may see in our examples, there's <Cta
        variant="secondary"
        muted
        shapes={["badge"]}>{`<`}BreadcrumbFinal{`>`}</Cta
      >. Such component is optional, and what its represents is just the final
      item on the breadcrumb UI to indicate the current viewing page (so you can
      see that it shows a little dfferent style), but many sites/apps choose not
      to adopt this pattern (eg., react.dev)
    </p>

    <br />
    <br />

    <Heading
      size="h2"
      title="Example / API"
      subtitle="This tries to show all the API/Component usages."
    />

    <VersatileTabs
      settings={[
        {
          title: "Mix",
          type: "preview",
          demoId: "breadcrumb-mix",
        },
      ]}
      client:only="react"
    />

    <br />
    <br />

    <Heading
      size="h2"
      title="Example / Scenario"
      subtitle="This lists common real-world use cases."
    />
    <VersatileTabs
      settings={[
        {
          title: "Expansible Collapse",
          type: "preview",
          demoId: "breadcrumb-expansible-collapse",
          content: 'Try click "..." on the UI in different screen sizes',
        },
      ]}
      client:only="react"
    />

    <!-- ComponentPageAPI -->
  </DocPageLayout>
</BaseLayout>
