---
import { startCase } from "lodash-es";
import "@/index.css"; // according to https://ui.shadcn.com/docs/installation/astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import DocPageLayout from "@/layouts/DocPageLayout.astro";
import ComponentPageUsage from "@/components/internal/ComponentPageUsage.tsx";
import ComponentPageHero from "@/components/internal/ComponentPageHero.tsx";
import {
  Heading,
  HeadingSubtitle,
  HeadingTitle,
} from "@/components/ui/Heading/Heading";
import VersatileTabs from "@/components/internal/VersatileTabs";
import { Badge } from "~/src/components/ui/Badge/Badge";
const routeName = Astro.url.pathname.split("/").filter(Boolean).pop();
const anatomy = `<Button/>`;
const apiLink = "https://www.radix-ui.com/primitives/docs/components/toggle";
---

<BaseLayout>
  <DocPageLayout>
    <ComponentPageHero
      title={startCase(routeName)}
      subtitle="A component that usually contains a single word or/and icon(s)."
      apiLink={apiLink}
    />

    <br />

    <Heading
      size="h2"
      title="Usage"
      subtitle="How you can play this component."
    />
    <ComponentPageUsage
      demoId="button-demo"
      anatomy={anatomy}
      client:only="react"
    />

    <br />
    <br />

    <Heading
      size="h2"
      title="Design Notes"
      subtitle="The implementation details that some would appreciate."
    />

    <p>
      If you wonder why the API doc links to the Radix's <Badge
        variant="secondary">{`<`}Toggle{`>`}</Badge
      > , that's because our our <Badge variant="secondary"
        >{`<`}Button{`>`}</Badge
      >
      can be turned into that component (check the relevant example to see the usage)

      <br />
      <br />

      The intention of merging the Toggle into Button is simple: Toggle is still
      a button that can control the toggling state, and both logic are pretty
      simple, not to mention styles quite the same, so it worth to combine them
      together.
    </p>

    <br />
    <br />

    <Heading
      size="h2"
      title="Example / API"
      subtitle="This tries to show all the API/Component usages."
    />
    <VersatileTabs
      settings={[
        {
          title: "6 Variants",
          type: "preview",
          demoId: "button-6variants",
        },
        {
          title: "Anchor & Icon",
          type: "preview",
          demoId: "button-anchor-icon",
        },
        {
          title: "3 Sizes",
          type: "preview",
          demoId: "button-3sizes",
        },
        {
          title: "Toggle",
          type: "preview",
          demoId: "button-toggle",
          // TBD: doc:
          // - passing any Toggle related prop to the component will make it as a Toggle
          // - when using Toggle, only 2 variants can be used: primary & outline
          // - any Toggle related props can be passed in directly: currently, only three: pressed, defaultPressed, onPressedChange
        },
      ]}
      client:only="react"
    />

    <br />
    <br />

    <Heading
      size="h2"
      title="Example / Scenario"
      subtitle="This lists common real-world use cases."
    />
    <VersatileTabs
      settings={[
        {
          title: "Search",
          type: "preview",
          demoId: "button-search",
        },
        {
          title: "Switch",
          type: "preview",
          demoId: "button-switch",
        },
        {
          title: "Badge",
          type: "preview",
          demoId: "button-badge",
        },
        {
          title: "Dial",
          type: "preview",
          demoId: "button-dial",
        },
        {
          title: "Progress",
          type: "preview",
          demoId: "button-progress",
        },
        {
          title: "Avatar",
          type: "preview",
          demoId: "button-avatar",
        },
        {
          title: "Button Group / Single Selection",
          type: "preview",
          demoId: "button-group-single",
        },
        {
          title: "Button Group / Multiple Selection",
          type: "preview",
          demoId: "button-group-multiple",
        },
      ]}
      client:only="react"
    />

    <!-- ComponentPageAPI -->
  </DocPageLayout>
</BaseLayout>
