---
import { startCase } from "lodash-es";
import "@/index.css"; // according to https://ui.shadcn.com/docs/installation/astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import DocPageLayout from "@/layouts/DocPageLayout.astro";
import ComponentPageUsage from "@/components/internal/ComponentPageUsage.tsx";
import ComponentPageHero from "@/components/internal/ComponentPageHero.tsx";
import { Badge } from "@/components/ui/Badge/Badge";
import {
  Heading,
  HeadingSubtitle,
  HeadingTitle,
} from "@/components/ui/Heading/Heading";
import VersatileTabs from "@/components/internal/VersatileTabs";
const routeName = Astro.url.pathname.split("/").filter(Boolean).pop();
const anatomy = `
<Tooltip>
  <TooltipTrigger/>
  <TooltipContent/>
</Tooltip>
`;
const apiLink = `https://www.radix-ui.com/primitives/docs/components/${routeName}`;
---

<BaseLayout>
  <DocPageLayout>
    <ComponentPageHero
      apiLink={apiLink}
      title={startCase(routeName)}
      subtitle="Given icon name, it will render an icon."
    />

    <br />

    <Heading
      size="h2"
      title="Usage"
      subtitle="How you can play this component."
    />
    <ComponentPageUsage
      demoId="tooltip-demo"
      anatomy={anatomy}
      client:only="react"
      preview="By default, the tooltip's content will be showed up a bit delayed after the hovering."
    />

    <br />
    <br />

    <Heading
      size="h2"
      title="Design Notes"
      subtitle="The implementation details that some would appreciate."
    />
    <p>
      We've used almost all the necessary widgets of Tooltip from Radix in our
      component, so by just going through all the examples on this page, you'll
      be good to understand how to use all of them. But just in case you kind of
      worry about which are being left out from Radix, it's only one:
      <Badge variant="secondary">{"<Arrow>"}</Badge>. The reason is simple: you
      really don't need it in most of the cases.
    </p>

    <Heading
      size="h2"
      title="Example / API"
      subtitle="This tries to show all the API/Component usages."
    />
    <VersatileTabs
      settings={[
        {
          title: "Show immediately",
          type: "preview",
          demoId: "tooltip-instant",
          content:
            "In some cases (eg., sometimes, on the dashboard-like UI), you may want to show the tooltip immediately",
        },
        {
          title: "Click to show",
          type: "preview",
          demoId: "tooltip-click-to-show",
          content: `
          Some design prefers to show the tooltip only when the user clicks on the tooltip-trigger, instead of hovering.
          The key to make that work is still giving an anchor (or a fake element: <span> in below example) in TooltipTrigger`,
        },
      ]}
      client:only="react"
    />
  </DocPageLayout>
</BaseLayout>
