---
import Layout from "../../../layouts/BaseLayout.astro";
import "@/index.css";
---

<Layout>
  <h1 class="tw:text-red-500">Hello World</h1>

  Providing shortcut API style will only make complex component code

  <div class="tw:bg-black tw:text-white tw:size-10">123</div>
</Layout>
